/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Utility
# Cards
# Common
# Form
# Navigations
# Animations
# Mobile Nav
# Search Popup
# Page Header
# Google Map
# Client Carousel
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
:root {
  --kunbis-gray: #484848;
  --kunbis-gray-rgb: 72, 72, 72;
  --kunbis-base: #FFC107;
  --kunbis-base-rgb: 255, 193, 7;
  --kunbis-black: #102039;
  --kunbis-black-rgb: 16, 32, 57;
}






/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/